{% extends 'base.html' %}

{% block site_content %}

  {% block styles %}
    <!-- Custom styles for this template -->
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="static/custome_home_responsive.css"/>
    <link rel="stylesheet" type="text/css" href='https://fonts.googleapis.com/css?family=Cutive Mono' />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  {% endblock %}
  <head>
      <style>
        body { background-color: #FEE4CF; font-family: 'Cutive Mono';font-size: 16px; }
      </style>
      <script type="text/javascript" src='slide.js'> </script>
  </head>
  <body class="homeBody">
    <div class="container">
        <div class="row justify-content-center">

            <img class="mySlides" src="static/rugroyal.png" width="35%" height="35%" class="col-xs-2 centralImage">
            <img class="mySlides" src="static/rugpulp.png" width="40%" height="40%" class="col-xs-2 centralImage">

            <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
            <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
        </div>
        <div class="row justify-content-center">
            ABOUT:
            Movie rugs project.
        </div>
        <div class="row justify-content-center">
            (Use the arrows to cycle through the movies.)
        </div>
        <div class="row justify-content-center">
            A Python code was written to analyse a script and print a square of a particular colour every time a character name appears in the script using Pillow.
            Each character is assigned a colour of the user's choice.
            The resulting image is a "barcode" for the movie, where we can see which characters are interacting at any given point in the movie.
        </div>
    </div>
    <script type="text/javascript" src="static/slide.js"> </script>
  </body>

{% endblock %}